@{
    ViewData["Title"] = "About";
}


<!--================Hero Banner Area Start =================-->
<section class="hero-banner hero-banner-sm">
    <div class="container text-center">
      <h2>About Us</h2>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
      </ol>
  </nav>
</div>
</section>
<!--================Hero Banner Area End =================-->


<!--================About  Area =================-->
<section class="about-area area-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="about-img">
                    <img src="~/img/banner/about1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <h4>WE ARE ON EXPERT <br>
                        THIS FIELD BUILDINGS<br>
                    SOLUTIONS SINCE 1974.</h4>
                    <p>Void gathering midst together you're shall. Beast set he <br>likeness spirit winged two all fourth they're gathered<br> seasons very may heaven saying. Fly image th</p>

                    <a class="main_btn" href="#">learn more</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================About Area End =================-->

