@{
    ViewData["Title"] = "Services";
}
@* 
  <!--================Hero Banner Area Start =================-->
  <section class="hero-banner hero-banner-sm">
    <div class="container text-center">
      <h2>Our Services</h2>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Services</li>
        </ol>
      </nav>
    </div>
  </section>
  <!--================Hero Banner Area End =================--> *@


<!--================Service  Area =================-->
<section class="service-area area-padding">
    <div class="container">
        <div class="area-heading">
            <h3 class="line">What We Provide</h3>
            <p>Together female let signs for for fish fowl may first.</p>

        </div>
        <div class="row">

            <!-- Single service -->
            <div class="col-md-6 col-xl-3">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="~/img/icon/i1.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Architecture Design</h5>
                        <p>You're which creepeth were yielding kind, divide sixten po gatherin all first fill Seed wherein life. Years one fifth </p>
                    </div>
                </div>
            </div>

            <!-- Single service -->
            <div class="col-md-6 col-xl-3">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="~/img/icon/i2.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Building Construction</h5>
                        <p>You're which creepeth were yielding kind, divide sixten po gatherin all first fill Seed wherein life. Years one fifth </p>
                    </div>
                </div>
            </div>


            <!-- Single service -->
            <div class="col-md-6 col-xl-3">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="~/img/icon/i3.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Building Renovation</h5>
                        <p>You're which creepeth were yielding kind, divide sixten po gatherin all first fill Seed wherein life. Years one fifth </p>
                    </div>
                </div>
            </div>

            <!-- Single service -->
            <div class="col-md-6 col-xl-3">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="~/img/icon/i4.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Building Maintenance</h5>
                        <p>You're which creepeth were yielding kind, divide sixten po gatherin all first fill Seed wherein life. Years one fifth </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--================Service Area end =================-->
